@import '../../styles/variables.scss';

.container {
    display: flex;
    min-height: 80vh;
}

.loginform {
    flex: 1;
    display: flex;
    justify-content: center;
    border-right: solid 0.1px rgba(128, 128, 128, 0.11);
    // background-color: $primary;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 1rem;
        // background-color: whitesmoke;
        margin: 3rem auto;
        border-radius: 5px;

        h1 {
            font-family: $big-font;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            // color: white;
        }

        input {
            padding: 1rem;
            border-radius: 3px;
            margin: 0.3rem 0;
            border: none;
            background-color: whitesmoke;
            font-family: $small-font;
        }

        button {
            margin-top: 1rem;
            padding: 0.5rem 0;
            border-radius: 25px;
            border: $primary solid 1px;
            background-color: white;
            font-family: $small-font;
            outline: none;
            color: $primary;
            cursor: pointer;
            transition-property: all;
            transition-duration: 0.3s;
        }

        button:hover {
            border: transparent solid 1px;
            background-color: $secondary;
            color: white;
        }

    }

}

.loginimg {
    flex: 2;
    background-image: url('../../public/Mar-Business_11.jpg');
    display: flex;
    justify-content: center;
}