@import '../../styles/variables.scss';

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 2rem;
        width: 80%;
        // box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);

        h1 {
            font-family: $big-font;
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }

        input {
            padding: 1rem;
            border-radius: 5px;
            border: none;
            outline: none;
            margin: 0.3rem 0;
            font-family: $small-font;
        }

        button {
            margin-top: 1rem;
            padding: 0.5rem 0;
            // background-color: $primary;
            border: $primary solid 1px;
            font-family: $small-font;
            color: $primary;
            background-color: white;
            transition-duration: 0.3s;
            transition-property: all;
            border-radius: 25px;
            // border: none;
            outline: none;
            cursor: pointer;
            width: 120px;
        }

        button:hover {
            background-color: $secondary;
            border: transparent solid 1px;
            color: white;
        }

    }

}

.alert {
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.144);
    border-radius: 5px;
    border: solid 0.5px red;
    
    p {
        font-family: $small-font;
        color: red;
        font-size: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.transition {
    background-color: red;

    .mynode-enter {
        opacity: 0;
        transform: scale(0.9);
    }
    
    .mynode-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 300ms, transform 300ms;
    }
      
    .mynode-exit {
        opacity: 1;
      
    }
      
    .mynode-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
    }
}